a {
  color: #00B7FF;
  text-decoration: none; }

* {
  position: relative;
  box-sizing: border-box;
  font-size: 20px; }

.content {
  max-width: 1110px;
  padding: 8px;
  margin: auto; }

a {
  text-decoration: none; }

header {
  width: 100%;
  height: 200px;
  box-shadow: 0 2px 10px 0 rgba(25, 25, 25, 0.5), 0 4px 13px 0 rgba(25, 25, 25, 0.2);
  background: #6cf;
  display: table; }

header .name {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  color: white;
  text-align: center; }

.ava {
  overflow: auto;
  display: table-cell;
  vertical-align: middle; }

.ava img {
  position: relative;
  right: 0.5em;
  height: auto;
  border-radius: 50px;
  padding-top: 10px;
  padding-left: 20px; }

aside {
  float: left;
  width: 30%;
  margin-top: 10px; }

aside .name {
  width: 30%;
  display: inline-block; }

aside .vl {
  width: 68%;
  display: inline-block; }

aside .skill {
  width: 85%;
  height: 10px;
  margin-bottom: 20px;
  background: lightgray;
  border-radius: 5px; }

p {
  display: block;
  clear: both;
  word-wrap: break-word;
  margin-top: 0px; }

aside .skill-right {
  position: absolute;
  width: 80%;
  height: 10px;
  background: #6cf;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  left: 0; }

div.r1 {
  width: 90%; }

div.r2 {
  width: 75%; }

div.r3 {
  width: 40%; }

div.r4 {
  width: 90%; }

div.r5 {
  width: 70%; }

div.r6 {
  width: 65%; }

div.r7 {
  width: 80%; }

section {
  float: left;
  width: 69%;
  margin-top: 10px;
  margin-left: 8px; }

.box {
  display: block;
  padding: 14px;
  margin: 8px 0;
  background: white;
  width: 100%;
  box-shadow: 0 0 5px rgba(25, 25, 25, 0.3), 0 0 8px rgba(25, 25, 25, 0.1); }

.title {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  background: #d1d1d1;
  padding: 5px;
  font-size: 20px;
  color: #6cf; }

.title > i {
  font-size: 26px !important; }

i {
  font-size: 18px !important;
  color: #6cf;
  margin-right: 10px; }

ul {
  padding-left: 16px; }

.padd-top {
  padding-top: 35px; }

.padd-left {
  padding-left: 25px;
  word-wrap: break-word; }

@media only screen and (max-width: 1000px) {
  aside, section {
    width: 100%;
    margin-left: 0; } }

@media only screen and (max-width: 500px) {
  .ava {
    width: 100%;
    position: relative;
    top: 50px;
    clear: both;
    overflow: auto;
    display: block; }
  .ava img {
    float: none;
    right: 0;
    border: 6px solid white;
    margin: auto;
    width: 180px;
    height: auto;
    border-radius: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  header .name {
    text-shadow: 0 0 3px white;
    color: #6cf;
    width: 100%;
    position: absolute;
    bottom: -70px;
    text-align: center;
    font-weight: bolder; }
  header {
    width: 100%;
    height: 200px;
    box-shadow: 0 2px 10px 0 rgba(25, 25, 25, 0.5), 0 4px 13px 0 rgba(25, 25, 25, 0.2);
    background-size: 100% auto; }
  .content {
    margin-top: 60px; } }

footer {
  width: 100%;
  height: 60px;
  clear: both;
  box-shadow: 0 -2px 10px gray;
  text-align: center;
  background: #6cf; }

header {
  flex-shrink: 0; }

.body {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em; }

footer {
  flex-shrink: 0; }

.the-main-post {
  border: 1px solid white;
  background-color: rgba(113, 154, 221, 0.2); }

.the-main-post > img {
  width: 701px;
  height: 321px;
  padding-left: 73px; }

hr {
  border: 1px solid black;
  width: 550px;
  left: 412px;
  top: 25px; }

@font-face {
  font-family: Ubuntu-Regular;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf"); }

@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf"); }

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body, html {
  height: 100%;
  font-family: Ubuntu-Regular, sans-serif; }

/*---------------------------------------------*/
a {
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none;
  color: #fff; }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

p {
  line-height: 1.7;
  color: #666666;
  margin: 0px; }

ul, li {
  margin: 0px;
  list-style-type: none; }

/*---------------------------------------------*/
input {
  outline: none;
  border: none; }

textarea {
  outline: none;
  border: none; }

textarea:focus, input:focus {
  border-color: transparent !important; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus::-moz-placeholder {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

input::-webkit-input-placeholder {
  color: #555555; }

input:-moz-placeholder {
  color: #555555; }

input::-moz-placeholder {
  color: #555555; }

input:-ms-input-placeholder {
  color: #555555; }

textarea::-webkit-input-placeholder {
  color: #555555; }

textarea:-moz-placeholder {
  color: #555555; }

textarea::-moz-placeholder {
  color: #555555; }

textarea:-ms-input-placeholder {
  color: #555555; }

label {
  margin: 0;
  display: block; }

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent; }

button:hover {
  cursor: pointer; }

iframe {
  border: none !important; }

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5; }

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto; }

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1; }

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65); }

.wrap-login100 {
  width: 390px;
  border-radius: 10px;
  overflow: hidden;
  background: transparent; }

/*------------------------------------------------------------------
[ Form ]*/
.login100-form {
  width: 100%;
  border-radius: 10px;
  background-color: #fff; }

.login100-form-logo {
  font-size: 60px;
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto; }

.login100-form-title {
  font-family: Ubuntu-Bold;
  font-size: 28px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block; }

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0; }

.input100 {
  font-family: Ubuntu-Regular;
  font-size: 20px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 10px 0 80px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #d41872;
  background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: linear-gradient(left, #a445b2, #d41872, #fa4299); }

.focus-input100::after {
  font-family: Linearicons-Free;
  font-size: 18px;
  color: #999999;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 35px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.input100:focus {
  padding-left: 60px; }

.input100:focus + .focus-input100::after {
  left: 23px;
  color: #d41872; }

.input100:focus + .focus-input100::before {
  width: 100%; }

.has-val.input100 + .focus-input100::after {
  left: 23px;
  color: #d41872; }

.has-val.input100 + .focus-input100::before {
  width: 100%; }

.has-val.input100 {
  padding-left: 60px; }

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.login100-form-btn {
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #d41872;
  background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: linear-gradient(left, #a445b2, #d41872, #fa4299);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.login100-form-btn:hover {
  background-color: transparent; }

.login100-form-btn:hover:before {
  opacity: 1; }

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
  position: relative; }

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  font-family: Ubuntu-Bold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px; }

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1; }

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1; } }

body {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
  background: #e9e9e9; }

a,
[type="submit"] {
  transition: all .25s ease-in; }

.signup__container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 30rem;
  border-radius: 0.1875rem;
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25); }

.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.76); }

.container__child {
  width: 103%;
  height: 116%;
  color: #fff; }

.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(http://ultraimg.com/images/spectre-login.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
  position: relative;
  z-index: 2; }

.thumbnail__logo {
  align-self: flex-start; }

.logo__shape {
  fill: #fff; }

.logo__text {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  vertical-align: bottom; }

.thumbnail__content {
  align-self: center; }

h1,
h2 {
  font-weight: 300;
  color: white; }

.heading--primary {
  font-size: 1.999rem; }

.heading--secondary {
  font-size: 1.414rem; }

.thumbnail__links {
  align-self: flex-end;
  width: 100%; }

.thumbnail__links a {
  font-size: 1rem;
  color: #fff; }
  .thumbnail__links a:focus, .thumbnail__links a:hover {
    color: rgba(255, 255, 255, 0.5); }

.signup__form {
  padding: 2.5rem;
  background: #fafafa; }

label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #ccc; }

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0; }
  .form-control:focus {
    border-color: #111; }

[type="text"] {
  color: #111; }

[type="password"] {
  color: #111; }

.btn--form {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: 2.1875rem; }
  .btn--form:focus, .btn--form:hover {
    background: #323232; }

.signup__link {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999; }
  .signup__link:focus, .signup__link:hover {
    color: #787878; }

.simple-class-one {
  background-image: url("../images/aroundtheworld.jpg");
  background-repeat: no-repeat;
  height: 1400px;
  background-size: contain;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fix-this-landing {
  padding-top: 30px;
  padding-left: 50px; }

a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #001f3f; }

#traveler-logo {
  height: 200px;
  padding-left: 500px;
  padding-top: 100px; }

.first-class {
  background-color: turquoise;
  height: 180px; }

.photo-class {
  padding-left: 500px;
  padding-top: 50px; }

.photo-class > img {
  height: 287px;
  border: 1px solid white;
  border-radius: 150px; }

#walker-logo {
  padding-left: 550px;
  height: 150px; }

#walker-logo-follow {
  padding-left: 700px;
  padding-top: 220px; }

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0; }

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em; }

details[open] {
  padding: .5em; }

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em; }

.move-this-class {
  padding-left: 10px;
  padding-top: 50px; }

.create-diff-post {
  padding-left: 600px;
  padding-top: 20px; }

.poster-class {
  padding-top: 50px; }

.poster-class > h1 {
  color: black; }

.poster-class > img {
  margin-left: 320px;
  border: 1px solid white;
  border-radius: 200px; }

button {
  border-radius: 20px; }

.first-button-one {
  top: 10px; }

.important-class-one {
  background-color: rgba(25, 25, 25, 0.05);
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 20; }

.center {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.second-primary {
  left: 350px;
  border-radius: 20px;
  width: 800px;
  height: 600px; }

.second-primary > img {
  height: 586px;
  width: 781px; }

.edit-profile {
  display: flex;
  justify-content: center;
  top: 50px;
  align-items: center;
  flex-direction: column;
  background-color: black; }

* {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Open Sans', sans-serif; }

.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Rectangle 3: */
  background-image: linear-gradient(-87deg, #F2F5F6 0%, #DDE5E8 100%); }

.cont_centrar {
  position: absolute;
  width: 320px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -160px; }

.cont_centrar {
  position: relative;
  width: 320px;
  float: left;
  background-image: linear-gradient(-226deg, #FFFFFF 8%, #EEF3F5 100%);
  border-radius: 8px;
  transition: all 0.5s; }

.cent_active {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21); }

.cont_tabs_login {
  position: relative;
  float: left;
  width: 100%; }

.ul_tabs > li {
  position: relative;
  float: left;
  width: 50%;
  list-style: none;
  text-align: center; }

.ul_tabs > li > a {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 16px;
  color: #999;
  line-height: 14px;
  padding: 20px;
  display: block;
  transition: all 0.5s; }

.ul_tabs > .active > a {
  color: #FF8383; }

.linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
  background-color: #999;
  height: 2px; }

.active .linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
  background-color: #FF8383;
  height: 2px; }

.cont_text_inputs {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px; }

.input_form_sign {
  position: relative;
  float: left;
  width: 90%;
  border: none;
  border-bottom: 1px solid #B0BEC5;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  transition: all 0.5s;
  height: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  display: none; }

.active_inp {
  margin: 5% 5%;
  padding: 10px 0px;
  opacity: 1;
  height: 5px; }

.input_form_sign:focus {
  border-bottom: 1px solid #FF8383; }

.link_forgot_pass {
  position: relative;
  margin-top: 0px;
  margin-left: 30%;
  text-decoration: none;
  color: #999;
  font-size: 13px;
  display: none;
  float: left;
  transition: all 0.5s; }

.cont_btn {
  position: relative;
  float: left; }

.btn_sign {
  background: rgba(255, 64, 88, 0.74);
  box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5);
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-size: 14px;
  position: relative;
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer; }

.terms_and_cons {
  width: 70%;
  color: #999;
  font-size: 13px;
  transition: all 0.5s; }

.d_none {
  display: none; }

.d_block {
  display: block; }

.cont_text_inputs > input:nth-child(1) {
  transition-delay: 0.2s; }

.cont_text_inputs > input:nth-child(2) {
  transition-delay: 0.4s; }

.cont_text_inputs > input:nth-child(3) {
  transition-delay: 0.6s; }

.cont_text_inputs > input:nth-child(4) {
  transition-delay: 0.8s; }

.move-up {
  background-image: url("../images/pusula.jpg"); }

.fix-modal {
  height: 1000px;
  width: 1036px;
  right: 300px; }

.fix-modal-body {
  margin-bottom: 7%;
  background-color: #00FFFF; }

.modalImg {
  height: 300px;
  width: 300px; }

#modalDescription {
  margin-top: 20px;
  height: 300px;
  width: 300px; }

#createCommentFormDiv {
  top: 100px;
  left: 109px;
  position: relative; }

.commentsspace {
  left: 30px;
  margin-top: 300px;
  position: relative; }

img {
  height: 400px;
  width: 500px; }

/*# sourceMappingURL=style.css.map */