<h1>Login</h1>

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    {{!-- <button type="submit" value="Log In"><a href="/">Log In</a></button> --}}
    <input type="submit" value="Log In">
  </div>

  {{!-- <a href="/">You're good</a> --}}
</form>

