<h2>Login</h2>


<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password"><br>
  </div>
    
{{#if message}}
  <h3> {{message}} </h3>
{{/if}}
  <div>
    <input type="submit" value="Log In">
  </div>


</form>
<br>
<a href="/">lobby</a>
