<h2>Signup</h2>
<form action="/signup" action="/send-email" method="POST" id="form-container">
{{!-- {{#if /send-email}} --}}
<label for"firstname">First Name</label> 
<input id="firstname" type"text" placeholder="First name" name="firstname"><br><br>
<label for"lastname">Last Name</label>
<input id"lastname" type"text" placeholder="Last name" name="lastname"><br><br>
<label for"email">Email Addres</label>
<input id="email" type="email" placeholder="Enter your email" name="email">
{{!-- {{/if}} --}}
<br><br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  
  <h2>Upload your profile picture</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="photo">
    {{!-- <input type="text" name="name"> --}}
    {{!-- <input type="submit" value="Save"> --}}
  

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button type="submit">Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>

