

{{!-- <div class="for-background"> --}}
<div class="cont_principal move-up">

  <div class="cont_centrar">
  {{!-- <div class="cont_login"> --}}
    {{!-- <form action=""> --}}
    <div class="cont_tabs_login">
      <ul class='ul_tabs'>
        {{!-- <li class="active"> --}}
        <span class="linea_bajo_nom"></span>
        </li>
        <li style="left: 70px;"><a href="#up" onclick="sign_up()">SIGN UP</a><span class="linea_bajo_nom"></span>
        </li>
      </ul>
      </div>
  <div class="cont_text_inputs">
    <form action="/signup" method="POST" id="form-container" enctype="multipart/form-data">
     
         <input class="form-control" id="firstname" type"text" placeholder="First name" name="firstname" required>
      
        <input  class="form-control" id"lastname" type"text" placeholder="Last Name" name="lastname" required>
     
        <input class="form-control" type="text" name="username" id="username" placeholder="username" required />
    
        <input class="form-control" type="text" name="email" id="email" placeholder="Email" required />
     
        <input class="form-control" type="password" name="password" id="password" placeholder="password" required />
   
    <input type="text" name="currentlyLiving" class="form-control" placeholder="Where you live?"/>

<br>
  <h2 style="color: gray; font-size: 15px;">Upload your profile picture</h2>
    <input type="file" name="photo" style="font-size: 15px;">
    
  

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
    

  <p class="account-message" style="font-size: 15px;">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
      
     

  
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
      <div class="m-t-lg"> 
    </div>


        <button type="submit">Create account</button>
     <button  class="btn_sign" type="submit">SIGN UP</button>
      
</form>
  
      </div>
      </div>
   
