
<div class="simple-class-one">
{{!-- <img src="../images/travelerlogo 2.png" id="traveler-logo"> --}}
  <div class="fix-this-landing">
<a style="font-size: 20px;" href="/signup">Sign Up</a>
<a style="font-size: 20px; padding-left: 100px;" href="/login">Login</a>
<a style="font-size: 20px; padding-left: 120px;" href="/logout">Log Out</a>

  </div>

</div>
{{!-- <a href="/private">Private</a> --}}






        </div>
      </div>
    </div>
