
<div class="simple-class-one">
{{!-- <img src="../images/travelerlogo 2.png" id="traveler-logo"> --}}
  <div class="fix-this-landing">
<a style="font-size: 40px;" href="/signup">Sign Up</a><br>
<a style="font-size: 40px; padding-left: 150px;" href="/login">Login</a><br>
<a style="font-size: 40px; padding-left: 250px;" href="/logout">Log Out</a>

  </div>

</div>
{{!-- <a href="/private">Private</a> --}}


