
<div class="simple-class-one">
<img src="../images/travelerlogo 2.png" id="traveler-logo">
  <div class="fix-this-landing">
<a style="font-size: 60px;" href="/signup">SIGN UP</a><br><br>
<a style="font-size: 60px;" href="/login">LOGIN</a><br><br>
<a style="font-size: 60px;" href="/logout">LOG OUT</a><br><br>

  </div>

</div>
{{!-- <a href="/private">Private</a> --}}


