<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> --}}
  {{!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"> --}}
   <!-- Latest compiled and minified CSS -->
    {{!-- <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> --}}
    {{!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> --}}

    <!-- Custom styles for this template -->
  {{!-- <link href="css/grayscale.min.css" rel="stylesheet"> --}}
  	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
{{!-- <!--===============================================================================================--> --}}
	{{!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> --}}
<!--===============================================================================================-->
	{{!-- <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css"> --}}
<!--===============================================================================================-->
	{{!-- <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"> --}}
<!--===============================================================================================-->	
	{{!-- <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css"> --}}
<!--===============================================================================================-->
	{{!-- <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css"> --}}
<!--===============================================================================================-->
	{{!-- <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css"> --}}
<!--===============================================================================================-->	
	{{!-- <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css"> --}}
<!--===============================================================================================-->
	{{!-- <link rel="stylesheet" type="text/css" href="css/util.css"> --}}
	{{!-- <link rel="stylesheet" type="text/css" href="css/main.css"> --}}

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  {{{body}}}

  {{!-- <script src="../javascripts/script.js"></script> --}}
   {{!-- <script src="../public/vendor/jquery/jquery.min.js"></script> --}}
    {{!-- <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> --}}

    <!-- Plugin JavaScript -->
    {{!-- <script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script> --}}

    <!-- Custom scripts for this template -->
    {{!-- <script src="js/grayscale.min.js"></script> --}}
    {{!-- <script src="vendor/jquery/jquery-3.2.1.min.js"></script> --}}
<!--===============================================================================================-->
	{{!-- <script src="vendor/animsition/js/animsition.min.js"></script> --}}
<!--===============================================================================================-->
	{{!-- <script src="vendor/bootstrap/js/popper.js"></script> --}}
	{{!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> --}}
<!--===============================================================================================-->
	{{!-- <script src="vendor/select2/select2.min.js"></script> --}}
<!--===============================================================================================-->
	{{!-- <script src="vendor/daterangepicker/moment.min.js"></script> --}}
	{{!-- <script src="vendor/daterangepicker/daterangepicker.js"></script> --}}
<!--===============================================================================================-->
	{{!-- <script src="vendor/countdowntime/countdowntime.js"></script> --}}
<!--===============================================================================================-->
	<script src="js/main.js"></script>
  <script src = "./javascript/script.js"></script>
</body>
</html>